
body{
background: #ffa3f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffabea, #f1318b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff31b0, #dd7dd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.botao {
    margin-left: 50%;
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 140px;
    

    

}

 